* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
    border: none;
}
*::-moz-focus-inner {
    outline: none;
    border: none;
}
html,
body {
    margin: 0;
    height: 100%;
}
html {
    font-size: 16px;
}

h1,
button,
input {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}